@media only screen and (max-width: 1100px){

a.inline-flex.items-center.bg-gray-100.border-0.py-2.px-4.focus\:outline-none.hover\:bg-blue-200.rounded.text-base.mt-4.md\:mt-0 {
    display: none;
}

}
@media only screen and (max-width: 600px){

  nav.md\:ml-auto.md\:mr-auto.flex.flex-wrap.items-center.text-base.justify-center {
      display: none;
  }
  .logotipe {
    position: fixed;
    top: 33px;
}
.container.mx-auto.flex.flex-wrap.p-5.flex-col.md\:flex-row.items-center.justify-between {
    height: 96px;
}
span.flex.title-font.font-medium.items-center.justify-center {
    margin-bottom: 7px;
}
.logotipe a span.text-2xl.text-blue-900.font-bold, .logotipe a span.text-2xl.text-blue-900.font-bold span {
    font-size: 30px;
}
}


@media only screen and (max-width: 400px){
  .logotipe a span.text-2xl.text-blue-900.font-bold, .logotipe a span.text-2xl.text-blue-900.font-bold span {
      font-size: 20px;
  }

}
