
button.btn.btn-default, a.buttonslider.wpcf7-form-control.wpcf7-submit.w-full.inline-flex.items-center.justify-center.px-6.py-3.border.border-transparent.rounded-md.shadow-sm.text-base.font-medium.text-white.bg-blue-600.hover\:bg-blue-700.focus\:outline-none.focus\:ring-2.focus\:ring-offset-2.focus\:ring-indigo-500 {
    background: #cb6f34;
}
button.flex.ml-auto.text-white.bg-blue-500.border-0.py-2.px-6.focus\:outline-none.hover\:bg-indigo-600.rounded {
    background: #cb6f34;
}
section.text-gray-600.body-font.py-12, section.text-gray-600.body-font.overflow-hidden.h-screen.flex.justify-center.items-center {
    background: #ffc29b;
}
.my-6.border-t-2.border-gray-300 {
    background: #cb6f34;
    color: #cb6f34;
    border: solid 0.2px;
}
.wpdevelop .btn-default:hover {
    color: white;
}
.sliderpicbg{
  background: rgb(255, 194, 155);
  background: -moz-linear-gradient(165deg, rgba(255, 194, 155,1) 71%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(165deg, rgba(255, 194, 155,1) 71%, rgba(255,255,255,1) 100%);
  background: linear-gradient(165deg, rgba(255, 194, 155,1) 71%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc29b",endColorstr="#ffffff",GradientType=1);
}
.w-full.h-10.bg-blue-400.text-white.flex.items-center.justify-center {
    background: #cb6f34;
}
ul.mobile-ulbar-tcs li {
    background: #cb6f34;}
