/*responsive especifico*/
@media only screen and (min-width: 640px)and (max-width: 777px){
  html {
    width: inherit;
}
body {
    width: inherit !important;
}
}
@media only screen  and (min-width: 1280px){
a.inline-flex.items-center.bg-gray-100.border-0.py-2.px-4.focus\:outline-none.hover\:bg-blue-200.rounded.text-base.mt-4.md\:mt-0 {
    position: absolute;
    right: 20px;
}}



@media only screen  and (min-width: 1045px){div#menu-togle {
    display: none;
}}


@media only screen  and (min-width: 1045px) and (max-width: 1600px){
  .logotipe {
      margin: auto;
      padding: 0px 20vw 0px 20vw;
  }
}


@media only screen  and (min-width: 1044px) and (max-width: 1300px){
nav.md\:ml-auto.md\:mr-auto.flex.flex-wrap.items-center.text-base.justify-center {
    margin-left: 1px;
}
a.inline-flex.items-center.bg-gray-100.border-0.py-2.px-4.focus\:outline-none.hover\:bg-blue-200.rounded.text-base.mt-4.md\:mt-0 {
    position: absolute;
    right: 20px;
}
}






@media only screen  and (min-width: 600px) and (max-width: 1044px){
  nav.md\:ml-auto.md\:mr-auto.flex.flex-wrap.items-center.text-base.justify-center {
    display: none;
}
a.inline-flex.items-center.bg-gray-100.border-0.py-2.px-4.focus\:outline-none.hover\:bg-blue-200.rounded.text-base.mt-4.md\:mt-0 {
    position: absolute;
    right: 80px;
    margin: unset;
}
.logotipe {
    position: absolute;
    left: 20px;
}
a.flex.title-font.font-medium.items-center.mb-4.md\:mb-0 {
    margin-bottom: 6px;
}
.container.mx-auto.flex.flex-wrap.p-5.flex-col.md\:flex-row.items-center.justify-between {
    min-height: 96px;
    padding-top: 1.8em;
}
div#menu-togle {
    top: 75px;
    right: 25px;
}
}
@media only screen  and (min-width: 200px) and (max-width: 650px){
  nav.md\:ml-auto.md\:mr-auto.flex.flex-wrap.items-center.text-base.justify-center {
    display: none;
}
a.inline-flex.items-center.bg-gray-100.border-0.py-2.px-4.focus\:outline-none.hover\:bg-blue-200.rounded.text-base.mt-4.md\:mt-0 {
    position: absolute;
    right: 80px;
    margin: unset;
}
.logotipe {
    position: absolute;
    left: 20px;
}
a.flex.title-font.font-medium.items-center.mb-4.md\:mb-0 {
    margin-bottom: 6px;
}
.container.mx-auto.flex.flex-wrap.p-5.flex-col.md\:flex-row.items-center.justify-between {
    min-height: 96px;
    padding-top: 1.8em;
}
div#menu-togle {
    top: 75px;
    right: 25px;
}

.slider-center {
    padding: 10px;
    padding-top: 7em;
}
img.sliderpic {
    max-height: 300px;
}
}
